<div class="auth-container">
  <h2 class="auth-title">🔐 Login</h2>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <form (ngSubmit)="login()" class="auth-form">
    <label>Email:</label>
    <input [(ngModel)]="email" name="email" type="email" required />

    <label>Passwort:</label>
    <input [(ngModel)]="password" name="password" type="password" required />

    <label class="remember-label">
      <input type="checkbox" [(ngModel)]="keepLoggedIn" name="keepLoggedIn" />
      Eingeloggt bleiben
    </label>

    <button type="submit" class="btn login-btn">Login</button>
  </form>


  <p class="auth-footer">Noch kein Konto? <a routerLink="/register">Jetzt registrieren</a></p>
</div>
